:root {
  --font-size: 50;
  --key-size: 100;
  --spacing: calc(var(--key-size) / 10);
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}

html {
  padding: 0px;
}

#con-device {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#con-text {
  display: flex;
  margin-bottom: calc(var(--spacing) * 1px)
}

#text {
  width: 100%;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: calc(var(--font-size) * 1.5 * 1px);
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: calc(var(--spacing) * 1px);
  gap: calc(var(--spacing) * 1px);
}

#row-0 {
  justify-content: right;
}

.key {
  flex: 1 1 0;
  height: calc(var(--key-size) * 1px);
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  font-size: calc(var(--font-size) * 1px);
}

#clear {
  flex: 0.05 1 auto;
}

#tab {
  flex: 1.5 1 auto;
}

#backslash {
  flex: 1.5 1 auto;
}

#caps-lock {
  flex: 1.75 1 auto;
}

#enter {
  flex: 2.25 1 auto;
}

#left-shift {
  flex: 2.25 1 auto;
}

#right-shift {
  flex: 2.75 1 auto;
}