:root {
  --u1: 1;
  --font-size: 3.5vw;
  --key-size: 6vw;
  --spacing: calc(var(--key-size) / 10);
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  :root {
    --u1: 1px;
    --font-size: calc(3.5 * 7.7);
    --key-size: calc(6 * 7.7);
  }  
}

html {
  padding: 0px;
}

label {
  font-family: 'Tahoma', 'sans-serif';
  font-size: calc(var(--font-size) * var(--u1) * 0.75);
}

#kb-select {
  margin-bottom: calc(var(--spacing) * var(--u1));
  font-family: 'Tahoma', 'sans-serif';
  font-size: calc(var(--font-size) * var(--u1) * 0.75);
}

#con-device {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 123px);
}

#con-text {
  display: flex;
  overflow: hidden;
  margin-bottom: calc(var(--spacing) * var(--u1));
}

#text {
  overflow: scroll;
  width: 100%;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: calc(var(--font-size) * var(--u1) * 1.5);
}

#con-keyboard {
  margin-bottom: auto;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: calc(var(--spacing) * var(--u1));
  gap: calc(var(--spacing) * var(--u1));
}

#row-0 {
  justify-content: right;
}

.key {
  flex: 1 0 0;
  height: calc(var(--key-size) * var(--u1));
  border-radius: 4px;
  border: 1px solid #8f8f9d;
  padding: 0px;
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-size: calc(var(--font-size) * var(--u1));

}

.key:disabled {
  border-color: #6e6e70;
}


#clear {
  flex: 0.1 0 0;
}

#tab {
  flex: 1.5 0 0;
}

#backslash {
  flex: 1.5 0 0;
}

#caps-lock {
  flex: 1.75 0 0;
}

#enter {
  flex: 2.25 0 0;
}

/* left shift */
#key-3-1 {
  flex: 2.25 0 0;
}

/* right shift */
#key-3-12 {
  flex: 2.75 0 0;
}